@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*  #FFFFE6
    #B3A1A1
    #A1ACB3
    */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: aliceblue;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2b2b2b, rgb(14, 14, 14));
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-logo {
    font-weight: 400;
    font-size: 30px;
    color: aliceblue;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    align-items: baseline;
}

.cabecalho-menu-item {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-weight: 400;
    font-size: 18px;
}
.cabecalho-menu-item:hover {
    color: #00878b;
    transition: 0.3s all;
}

#fale-comigo {
    border: 2px solid #00878b;
    padding: 10px;
    border-radius: 15px;
}

#fale-comigo:hover {
    background-color: #00878b;
    color: black;
}

.conteudo {
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: aliceblue;
}

span {
    color: #00878b;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: aliceblue;
}

.conteudo-principal-escrito-paragrafo {
    line-height: 20px;
    max-width: 500px;
    color: aliceblue;
}

.conteudo-principal-imagem {
    height: 430px;
    border-radius: 50%;
}

.conteudo-segundario {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 25px;
    margin-top: 100px;
}


.conteudo-segundario-projeto {
    display: flex;
    height: 200px;
    border-radius: 15px;
}

.conteudo-segundario-projeto:hover {
    border: 3px solid rgba(255, 255, 255, 0.6);
    transform: scale(1.05);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.rodape {
    background-color: rgb(27, 27, 27);
    padding: 10px, 0px;
    text-align: center;
}
